.top-section {
    background-color: rgb(255, 243, 228);
    text-align: left;
}

.top-section .top-container {
    padding: 50px;
    width: 40%;
}

.top-section h4 {
    font-family: 'Quattrocento', serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 18px;
    color: #f26d53;
    padding: 25px 0;

}

.top-section h2 {
    font-size: 50px;
    padding: 25px 100px 0 0;
    letter-spacing: 3px;
}

.top-section p {
    font-size: 18px;
    padding: 25px 0;
    letter-spacing: 2px;
}

section.gallery {
  position: relative;
  margin: 0;
  padding: 0;

}

section.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  text-align: center;


}
section.gallery .gallery-container .gallery-item {
  position: relative;
  text-align: center;
  color: white;
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(85%) sepia(65%) hue-rotate(-405deg) saturate(300%) contrast(0.7);
  z-index: 1;
}


section.gallery .gallery-container .gallery-item img {
  width: 100%;


}

section.gallery .gallery-container .gallery-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: invert(40%) grayscale(0) brightness(0) sepia(0) hue-rotate(-50deg) saturate(0) contrast(2);
      filter: grayscale(100%) brightness(85%) sepia(65%) hue-rotate(-405deg) saturate(300%) contrast(0);
}
