body {
    background-color: rgb(255, 251, 247);
}

.top-section {
    text-align: left;
}

.top-section .top-container {
    padding: 50px 50px 200px 50px;
    width: 100%;
}

.top-section h4 {
    font-family: 'Quattrocento', serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
    color: #f26d53;
    padding: 15px 0;
}

.top-section h2 {
    font-size: 65px;
    padding: 15px 100px 0 0;
    letter-spacing: 3px;
}

section.news {
    position: relative;
    width: 100%;

}

section.news .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding: 10px;
}

section.news .news-container .card-wrapper {
    width: 100%;
    text-align: center;
    background-color: white;
    cursor: pointer;

}

section.news .news-container .card-wrapper:hover .card-details h3 {
    color: #f26d53;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

}

section.news .news-container .card-wrapper .card-img {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.news .news-container .card-wrapper .card-details {
    padding: 10px;
}

section.news .news-container .card-wrapper .card-details .date {
    color: #f26d53;
    font-size: 14px;
}

section.news .news-container .card-wrapper .card-details h3 {
    font-size: 25px;
    padding: 10px;

}

section.news .news-container .card-wrapper .card-details p {
    font-size: 18px;
}

  /* Tablets */
  @media only screen and (max-width: 960px) {
    section.news .news-container {
        grid-template-columns: 1fr 1fr;
    }
  }

  /* Phones */
  @media only screen and (max-width: 767px) {
    section.news .news-container {
        grid-template-columns: 1fr;
    }
  }
